---
language: python

python:
 - '3.6'
 - '3.7'
 - '3.8'
 - '3.9'

install:
 - pip3 install -U pytest pytest-doctestplus pytest-pylint pytest-mypy
   requests openapi-core uwsgi simplejson
 - pip3 install -U types-simplejson types-requests types-PyYAML

script:
 - pytest -v poorwsgi --pylint --mypy --doctest-plus --doctest-rst
 - pytest -v tests --mypy
 - pytest -v examples --mypy
 - pytest -v tests_integrity --mypy --with-uwsgi

before_deploy:
 - python3 setup.py sdist
 - python3 setup.py bdist_wheel

deploy:
 - provider: pypi
   user: __token__
   password:
    secure: JL4umK8xRzuxBJyxm6pE9bClGd7PB7Vuy4q7rfEQCt9bQg9SCd29eFlA2EowG/xkWjlVe940hygKY/ZzHOq0ieg3vU4u2D99opyHPncdLcqF6ECpyBkeeUbFMmxkfH8n8vhWUDzxaOcYErFB1B0rypyuJRVuUrm8fJJVBMjboiI3h/pn8xDDbV3i1iVPsk4qzU2eleSQgc5ONe+YVsZK4rnctycobLscz2vlo7rPHfZLtgMJq27squs1iMrFyTa4S35nuBCGl2Na9u4Wjl8Sniv/naa96ZORDxnWSJLBmANgjinaTd4UslU2K8SyGI0Y0YPxlbm8OefAsY6OXt2GgtQGKGrCM75dMHwUlK1ULDi7kiQZMIlDbtFLWwP4ykQRsuaQaWibSZW3Gckajo925OKxXVTGOU4jfcYhy4ZT0dTiIEA2zooYSc40DE2t9j5oaJ/edBTDZbYGbY/5CbKYEM8+SXt6CFTe8PuNv+S5TUxBoPYAs88NiEvRs/+xoAeRKAIX5N4qGXnc4kTre/Jix1RxZS9LV/oBF1tbefo+Nyv4iVi91B3NRQ9AyvcDvq4fMH9vp6UMPsyi703vwdAHhwx9LrkAAR0dtJA+h3TB9dfcxKrt5hfzuWUmOVOyG8LdeJeEIxRjEh64oBxqeO7NFj81UTvHzUr63ufWZNX/ETQ=
   distribution: sdist bdist_wheel
   skip_cleanup: true
   skip_existing: true
   overwrite: true
   on:
    repo: PoorHttp/PoorWSGI
    branch: master
    tags: true
 - provider: releases
   api_key:
    secure: YCM2yf0GX6xx+m6uza40MEQXwVDMpwwq5aYaQkPge2inqwAHI05HLigYK0kop6KcxjiPg4ovzqkJ5b6gkpQrcHBvcv0CVGcDv2+G/Xy8PxLRbmulx/mrrwYRNE/IuWjmIXhOlPUQZpKsd+JyjA72F/6zM6TPLdUAfVzSX6lvahYHcVQlQxzsOtCfIrmSRP9L3/Xbtlcomb+WmH6dRRq38WYk909K741HKuq9zg6qSoUajfVi9IYdcj4YC8GZdNi66/abgkxQR9x9BI3vzGYg79ZaGutK8qPgwXQMgloUGpPP+75Q03Q4cdJAmPXMB2m8zlYZlV/SYpM88/0bulBkQmqdJHKu6n6SEN4uhxNM6x5GFkAX30LphIEXhXWlUj7q043FRXxNyD8Ay5bUthqjqzOcbLH6Z19mIi/CL82soxJ+6UMAU6UtfLBurJ+GU1hxb3uFXiFQOAh9yVSSf1zBdyCDGtni8LlCbIGRrVKen+26DZfohHnzVpIUtddfZvPTbLSq7/8WjBUmdpTF996VLUszKuc3F1mZiCDUtpwI5l30mAc9EiDMhGp34gLH0vm3osaqJn4Feyn4x+ZtJjWjtFLOV8xyrT3IeZ0qZcpZvE/TCre6pU4CankZuZrOMcneGR6jRolg/Ub5h49JHrSNIgMKJQF2FQJF0oDTvG7nHSE=
   file:
    - dist/PoorWSGI-$TRAVIS_TAG.tar.gz
    - dist/PoorWSGI-$TRAVIS_TAG-py3-none-any.whl
   skip_cleanup: true
   overwrite: true
   on:
    repo: PoorHttp/PoorWSGI
    branch: master
    tags: true
